.footer-widgets-background {
	padding: 0;
	background: #202020;
	background: var(--footer-color);
}

/* Footer Widget Styling */
.footer-widgets {
	.widget {
		color: rgba(255, 255, 255, 0.5);
		color: var(--footer-hover-text-color);
		background: rgba(255, 255, 255, 0.025);
		background: var(--footer-border-color);
		border-color: rgba(255, 255, 255, 0.025);
		border-color: var(--footer-border-color);
	}
}

.footer-widgets,
.before-footer-widget-area {
	.widget {
		.widget-title {
			color: #fff;
			color: var(--footer-text-color);
		}

		a:link,
		a:visited  {
			color: #fff;
			color: var(--footer-text-color);
		}

		a:hover,
		a:active  {
			color: rgba(255,255,255,0.5);
			color: var(--footer-hover-text-color);
		}

		input[type="text"],
		input[type="email"],
		input[type="url"],
		input[type="password"],
		input[type="search"],
		textarea {
			border: 1px solid rgba(255,255,255,0.025);
			border: 1px solid var(--footer-border-color);
			color: rgba(255,255,255,0.5);
			color: var(--footer-hover-text-color);
		}

		input[type="text"]:focus,
		input[type="email"]:focus,
		input[type="url"]:focus,
		input[type="password"]:focus,
		input[type="search"]:focus,
		textarea:focus {
			border: 1px solid rgba(255,255,255,0.025);
			border: 1px solid var(--footer-border-color);
			background: rgba(255,255,255,0.025);
			background: var(--footer-border-color);
			color: #fff;
			color: var(--footer-text-color);
		}

		.tzwb-posts-list .tzwb-entry-meta,
		.tzwb-posts-list .tzwb-entry-meta a:link,
		.tzwb-posts-list .tzwb-entry-meta a:visited,
		.tzwb-comments-list .tzwb-comment-date {
			color: rgba(255,255,255,0.5);
			color: var(--footer-hover-text-color);
			border-color:  rgba(255,255,255,0.025);
			border-color:  var(--footer-border-color);
		}

		.tzwb-posts-list .tzwb-entry-meta a:hover,
		.tzwb-posts-list .tzwb-entry-meta a:active {
			color: #fff;
			color: var(--footer-text-color);
		}
	}
}

@media only screen and (min-width: 25em) {
	.footer-widgets-background {
		padding: 1rem 0 0;
		border-bottom: 2px solid rgba(255,255,255,0.025);
		border-bottom: 2px solid var(--footer-border-color);
	}

	.centered-theme-layout .footer-widgets-background {
		padding-top: 0;
	}

	.centered-theme-layout .footer-widgets .widget {
		margin-bottom: 2px;
	}
}

@media only screen and (min-width: 35em) {
	.footer-widgets {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		margin-right: -1rem;
	}

	.footer-widget-column {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		flex-grow: 1;
		box-sizing: border-box;
		padding-right: 1rem;
		width: 50%;
		-webkit-box-flex: 1;
		-ms-flex-positive: 1;
		flex-direction: column;
	}

	.footer-widget-column .widget:last-child {
		flex-grow: 1;
	}

	.centered-theme-layout .footer-widgets-background {
		padding-left: 2px;
		padding-right: 2px;
	}

	.centered-theme-layout .footer-widgets {
		margin-right: -2px;
	}

	.centered-theme-layout .footer-widget-column {
		padding-right: 2px;
	}

	/* Three Column Footer Widgets */
	.footer-widget-column:nth-child(1):nth-last-child(3),
	.footer-widget-column:nth-child(2):nth-last-child(2),
	.footer-widget-column:nth-child(3):nth-last-child(1) {
		width: 100%;
	}
}

@media only screen and (min-width: 40em) {
	.footer-widgets-background {
		padding: 1.5rem 0 0;
	}

	.footer-widgets {
		margin-right: -1.5rem;
	}

	.footer-widget-column {
		padding-right: 1.5rem;
	}

	.centered-theme-layout .footer-widgets-background {
		padding-left: 2px;
		padding-right: 2px;
	}
}

@media only screen and (min-width: 50em) {
	.footer-widget-column:nth-child(1):nth-last-child(3),
	.footer-widget-column:nth-child(2):nth-last-child(2),
	.footer-widget-column:nth-child(3):nth-last-child(1) {
		width: 33.3333333333333%;
	}
}

@media only screen and (min-width: 65em) {
	.footer-widget-column:nth-child(1):nth-last-child(4),
	.footer-widget-column:nth-child(2):nth-last-child(3),
	.footer-widget-column:nth-child(3):nth-last-child(2),
	.footer-widget-column:nth-child(4):nth-last-child(1) {
		width: 25%;
	}
}
