.header-bar-wrap {
	border-bottom: 2px solid rgba(0,0,0,0.05);
	background: #fff;
}

.header-bar {
	padding: 0;
	font-family: Quicksand, Tahoma, Arial;
	font-family: var(--navi-font);
}

/* Header Content */
.header-bar .header-content {
	float: left;
	padding: 0.6em 0 0.5em;
	padding-left: 1rem;
	max-width: 70%;
	font-size: 14px;
	font-size: 0.875rem;
}

.header-bar .header-content .header-date,
.header-bar .header-content .header-text {
	display: inline-block;
	margin-right: 1.5em;
}

/* Top Navigation Toggle */
.top-navigation-toggle {
	display: inline-block;
	float: right;
	margin: 0;
	padding: 0.6em 0 0.5em;
	padding-right: 1em;
	border: none;
	background: none;
	color: #202020;
	text-decoration: none;
	font-weight: normal;
	font-size: 14px;
	font-size: 0.875rem;
}

.top-navigation-toggle:focus {
	color: #202020;
	background: none;
}

.top-navigation-toggle:hover,
.top-navigation-toggle:active,
.top-navigation-toggle:focus:hover {
	color: rgba(0,0,0,0.5);
	background: none;
	cursor: pointer;
}

.top-navigation-toggle .icon {
	margin: 0.25em 0.5em 0 0;
	width: 16px;
	height: 16px;
	vertical-align: top;
	fill: #202020;
}

.top-navigation-toggle:hover .icon,
.top-navigation-toggle:active .icon {
	fill: rgba(0,0,0,0.5);
}

/* Top Navigation Menu */
.top-navigation-menu {
	display: none;
	clear: left;
	margin: 0;
	padding: 0.5em 1rem;
	width: 100%;
	border-top: 1px solid rgba(0,0,0,0.05);
	color: #202020;
	list-style: none;
	font-size: 14px;
	font-size: 0.875rem;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
}

.top-navigation-menu li {
	margin: 0;
}

.top-navigation-menu a {
	display: block;
	margin: 0;
	padding: 0.5em 0;
	text-decoration: none;
}

.top-navigation-menu a:link,
.top-navigation-menu a:visited {
	color: #202020;
	text-decoration: none;
}

.top-navigation-menu a:hover,
.top-navigation-menu a:active {
	color: rgba(0,0,0,0.5);
}

.top-navigation-menu ul {
	margin: 0;
	padding: 0;
	width: 100%;
	background: #fff;
	list-style: none;
	font-size: 13px;
	font-size: 0.8125rem;
}

.top-navigation-menu ul a {
	padding-left: 1.5em;
}

.top-navigation-menu ul li ul a {
	padding-left: 2.5em;
}

.top-navigation-menu ul li ul li ul a {
	padding-left: 3.5em;
}

.top-navigation-menu ul li ul li ul li ul a {
	padding-left: 4.5em;
}

/* Sub Menu Dropdown Icons */
.top-navigation-menu > .menu-item-has-children a .sub-menu-icon {
	float: right;
	margin: -0.5em -0.5em 0;
	padding: 0.5em 1em;
}

.top-navigation-menu > .menu-item-has-children a .sub-menu-icon .icon {
	margin: 0.2em 0 0;
	width: 16px;
	height: 16px;
	vertical-align: top;
	fill: #202020;
}

.top-navigation-menu > .menu-item-has-children a .sub-menu-icon:hover .icon,
.top-navigation-menu > .menu-item-has-children a .sub-menu-icon:active .icon {
	fill: rgba(0,0,0,0.5);
}

.top-navigation-menu > .menu-item-has-children a .sub-menu-icon.active .icon {
	margin: 0.25em 0 0;
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

@media only screen and (min-width: 25em) {
	.boxed-theme-layout .header-bar {
		padding-left: 0;
		padding-right: 0;
	}
}

@media only screen and (min-width: 55em) {
	.header-bar {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}

	.header-bar .header-content {
		flex-grow: 1;
		float: none;
		max-width: 100%;
		-webkit-box-flex: 1;
		-ms-flex-positive: 1;
		padding-left: 0;
	}

	.centered-theme-layout .header-bar,
	.boxed-theme-layout .header-bar {
		padding-left: 1rem;
		padding-right: 0.25rem;
	}

	/* Top Navigation */
	.top-navigation-toggle {
		display: none;
	}

	.secondary-navigation {
		float: none;
	}

	.top-navigation-menu {
		position: relative;
		display: -webkit-box !important;
		display: -ms-flexbox !important;
		display: flex !important;
		-ms-flex-flow: row wrap;
		flex-flow: row wrap;
		border-top: none;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		padding: 0;
	}

	.top-navigation-menu a {
		padding: 0.6em 1em 0.5em;
		border: none;
	}

	.top-navigation-menu > .menu-item-has-children a .sub-menu-icon {
		float: none;
		margin: 0;
		padding: 0;
	}

	.top-navigation-menu > .menu-item-has-children a .sub-menu-icon .icon {
		margin: 0.4em 0 0 0.3em;
		width: 12px;
		height: 12px;
	}

	.top-navigation-menu > .menu-item-has-children a:hover .sub-menu-icon .icon {
		fill: rgba(0,0,0,0.5);
	}

	.top-navigation-menu ul {
		position: absolute;
		z-index: 99;
		display: none;
		width: auto;
		border: 2px solid rgba(0,0,0,0.05);
		border-bottom: none;
	}

	.top-navigation-menu ul li {
		position: relative;
		margin: 0;
	}

	.top-navigation-menu ul a {
		min-width: 250px;
		min-width: 16rem;
		border-bottom: 2px solid rgba(0,0,0,0.05);
	}

	.top-navigation-menu ul a,
	.top-navigation-menu ul li ul a,
	.top-navigation-menu ul li ul li ul a,
	.top-navigation-menu ul li ul li ul li ul a {
		padding: 0.75em 1em;
	}

	.top-navigation-menu ul .menu-item-has-children > a .sub-menu-icon .icon {
		margin: 0.5em 0 0 0.2em;
		width: 10px;
		height: 10px;
		-webkit-transform: rotate(270deg);
		transform: rotate(270deg);
	}

	.top-navigation-menu li ul ul {
		top: -2px;
		left: 100%;
	}

	.top-navigation-menu li.menu-item-has-children:hover > ul,
	.top-navigation-menu li.page_item_has_children:hover > ul,
	.top-navigation-menu li.menu-item-has-children[aria-expanded="true"] > ul {
		display: block;
	}

	.top-navigation-menu li.current-menu-item > a {
		text-decoration: underline;
	}

	.top-navigation-menu li.current-menu-item > a:after {
		text-decoration: none;
	}
}
